{% load static %}
{% block title %}{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/acc.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <h1 class="profile-name">Профіль</h1>
        </div>
        <div class="profile-details">
            <p><strong>Login:</strong> 12345</p>
            <p><strong>Phone:</strong> +1234567890</p>
            <p><strong>About:</strong> Тут можна додати короткий опис.</p>
        </div>
    </div>
</body>
</html>
