{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
</head>
<body>
    <div class="reg">
        <form method="post" action="{% url 'reg' %}">
            {% csrf_token %}
            <h1>Реєстрація</h1>
            <div class="input-box">
                <label for="username">Логін:</label>
                <input type="text" name="username" id="username" placeholder="Введіть логін" required>
            </div>
            <div class="input-box">
                <label for="email">Електронна пошта:</label>
                <input type="email" name="email" id="email" placeholder="Введіть пошту" required>
            </div>
            <div class="input-box">
                <label for="password1">Пароль:</label>
                <input type="password" name="password1" id="password1" placeholder="Введіть пароль" required>
            </div>
            <div class="input-box">
                <label for="password2">Підтвердження пароля:</label>
                <input type="password" name="password2" id="password2" placeholder="Повторіть пароль" required>
            </div>
            <button type="submit" class="btn">Зареєструватися</button>
            <div class="login-link">
                <p>У вас вже є аккаунт? <a href="{% url 'log' %}">Увійти</a></p>
            </div>
        </form>
    </div>
</body>
</html>
